NEXT_PUBLIC_API_URL=https://api.meetyoulive.net
API_URL=https://api.meetyoulive.net
NEXT_PUBLIC_LIVE_PROVIDER_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://meetyoulive.net
INTERNAL_API_SECRET=
