NEXT_PUBLIC_API_URL=https://meetyoulive-backend.onrender.com
API_URL=https://meetyoulive-backend.onrender.com
NEXT_PUBLIC_API_URL=https://TU_BACKEND_REAL.onrender.com
API_URL=https://TU_BACKEND_REAL.onrender.com
NEXT_PUBLIC_LIVE_PROVIDER_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://www.meetyoulive.net
INTERNAL_API_SECRET=
